@keyframes strokeAndFill {
  0% {
    stroke-dashoffset: 450; }
  50% {
    stroke-dashoffset: 0; }
  100% {
    fill: var(--text-color-4);
    stroke-dashoffset: 0; } }

@keyframes strokeNotFill {
  0% {
    stroke-dashoffset: 450; }
  50% {
    stroke-dashoffset: 0; }
  100% {
    fill: white;
    stroke-dashoffset: 0; } }

@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/*
0 - 600px:  Phone
600 - 900px Tablets Landscape
900 - 1200px Tablet Landscape
1800 - Desktops
*/
/*
$breakpoint argument choice:
- phone
- tab-port
- tab-land
- big-desktop
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px; }
  header nav {
    padding: 1.3rem 0px 1rem; }
  header #topNav {
    gap: 4rem; }
  header .nav-link {
    padding-bottom: 1rem;
    color: var(--text-color-1);
    font-size: 1.4rem;
    font-weight: 700;
    position: relative; }
    header .nav-link.active {
      color: var(--text-color-3) !important;
      font-weight: 800; }
    header .nav-link::before {
      content: '';
      position: absolute;
      background: var(--text-color-3);
      left: 0;
      right: 0;
      bottom: -3rem;
      height: 4px;
      transform: scaleX(0);
      transition: 0.5s;
      transform-origin: left; }
    header .nav-link.active::before {
      transform: scaleX(1); }
  header .header-btn {
    position: relative;
    font-size: clamp(1rem, 3.5vw, 1.8rem);
    padding: 0.5rem 2rem;
    color: var(--text-color-3);
    border-radius: 50px;
    overflow: hidden;
    font-weight: 700; }
    header .header-btn:hover {
      color: white;
      background: var(--text-color-3); }
    header .header-btn::after {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--text-color-3);
      opacity: 0.2; }
  header .login-btn {
    color: var(--color-3); }
    header .login-btn:hover {
      color: white;
      background: var(--color-3); }
    header .login-btn::after {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--color-3);
      opacity: 0.2; }
  header .menu-icon {
    cursor: pointer; }
    header .menu-icon line {
      transition: 0.2s linear; }
    header .menu-icon.active #middle-line {
      opacity: 0; }
    header .menu-icon.active #top-line {
      transform: rotateZ(-135deg) translate(-28px); }
    header .menu-icon.active #bottom-line {
      transform: rotateZ(-45deg) translate(-11px, -2px); }

#hero {
  max-width: 100vw;
  z-index: 0;
  padding-top: 11rem; }
  #hero .left img {
    max-height: 35rem; }
    @media only screen and (max-width: 37.5em) {
      #hero .left img {
        max-width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    #hero .right {
      margin-top: 6rem;
      text-align: center; } }
  #hero .right img {
    max-height: 35rem; }
  #hero .middle {
    text-align: center;
    padding-top: 4rem; }
    #hero .middle svg.heading {
      max-width: 100%; }
      @media only screen and (max-width: 991px) {
        #hero .middle svg.heading {
          height: 5rem; } }
    #hero .middle #futureBetter {
      margin: 4rem 0px; }
      @media only screen and (max-width: 576px) {
        #hero .middle #futureBetter {
          margin: 3rem 0px; } }
    #hero .middle p {
      font-family: 'Josefin sans';
      margin-top: 2rem;
      font-size: 2rem; }
      @media only screen and (max-width: 420px) {
        #hero .middle p {
          margin-top: 0rem; } }
    #hero .middle .btn-box {
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      gap: 2rem; }
      @media only screen and (max-width: 410px) {
        #hero .middle .btn-box {
          gap: unset;
          justify-content: space-between; } }
      #hero .middle .btn-box div button {
        background: #b866ff;
        color: white;
        box-shadow: inset 0px 0px 11px 7px #8a4cc0, 0px 3px 3px 1px #c0c0c0ab; }
      #hero .middle .btn-box div:last-child button {
        background: #f3f3f3;
        color: #245663;
        box-shadow: 0px 3px 3px 0px #c0c0c0ab;
        padding: 0.9rem 3rem 0.9rem 1.2rem !important; }
    #hero .middle .seen-on {
      margin-top: 7rem;
      border-top: 4px solid #b866ff24; }
      #hero .middle .seen-on ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        padding: 4rem 0px 0; }
        #hero .middle .seen-on ul img {
          max-height: 7.5rem;
          background: whitesmoke; }
          @media only screen and (max-width: 576px) {
            #hero .middle .seen-on ul img {
              max-height: 6rem; } }
    #hero .middle svg {
      stroke-width: 3px; }

@media only screen and (max-width: 991px) {
  #course-overview .cards-container {
    justify-content: center; } }

#course-overview .cards-container .course-card {
  height: 20.5rem;
  max-width: 22rem;
  min-width: 21rem;
  background: aliceblue;
  border-radius: 2rem;
  padding: 2.5rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  @media only screen and (max-width: 420px) {
    #course-overview .cards-container .course-card {
      min-width: 47%; } }
  #course-overview .cards-container .course-card img {
    max-height: 5rem; }
  #course-overview .cards-container .course-card .heading-secondary {
    padding-bottom: 1rem;
    border-bottom: 3px solid #ffffff61;
    font-size: 2.5rem;
    line-height: 4rem;
    font-family: 'Josefin Sans';
    width: 100%; }
    @media only screen and (max-width: 991px) {
      #course-overview .cards-container .course-card .heading-secondary {
        line-height: 3.5rem; } }

#course-overview #browseAll i {
  font-size: 2.5rem;
  padding: 1.2rem;
  border-radius: 50%;
  background: #8d7be7;
  color: white;
  transform: rotate(180deg);
  cursor: pointer; }
  #course-overview #browseAll i:hover {
    opacity: 0.7; }

#course-overview #browseAll .heading-secondary {
  padding: 0;
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  width: auto; }

#register {
  background-color: aliceblue;
  background-image: url(../../../public/assets/img/registerBG.svg);
  background-repeat: no-repeat;
  background-position-y: 1rem;
  background-size: contain;
  padding: 13rem 0; }
  #register .container > div {
    width: 40%;
    background: white;
    padding: 3rem 2.8rem 3.3rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 10px 2px #d7678a52; }
    #register .container > div:last-child {
      width: 51%; }
    @media only screen and (max-width: 991px) {
      #register .container > div {
        width: 100%; }
        #register .container > div:last-child {
          height: 33rem;
          width: 100%; } }
  #register .container h3 {
    color: #fe79a2; }
    #register .container h3 i {
      transform: scale(2) translateX(-17%); }
  #register .container .input__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.3rem; }
    #register .container .input__fields .input__group label {
      font-family: "Josefin Sans", 'Nunito'; }
    @media only screen and (max-width: 50em) {
      #register .container .input__fields .input__group {
        padding: 1rem 1rem 0 0; } }
    #register .container .input__fields .input__group input {
      width: 100%; }
  #register .container .input__group input[type="text"],
  #register .container .input__group input[type="email"],
  #register .container #message {
    width: 100%;
    padding: 1.5rem 1rem 0.7rem 1.5rem;
    border: none;
    /* background: #f0f0f099; */
    outline: none;
    font-family: "Josefin Sans";
    font-size: 1.6rem;
    border-radius: 12px;
    border: 1px solid #ff7ca547; }

#recomended-courses {
  background-color: #edededd1; }
  #recomended-courses .cards-container {
    gap: 5rem; }
  #recomended-courses .job-course-card {
    max-width: 28rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }
    #recomended-courses .job-course-card:hover {
      transition: 0.3s;
      transform: translateY(-2rem); }
    #recomended-courses .job-course-card .card-content {
      padding: 2rem; }
      #recomended-courses .job-course-card .card-content .heading-tertiary {
        font-family: 'Josefin Sans'; }
      #recomended-courses .job-course-card .card-content p {
        color: var(--text-color-4);
        font-weight: 600; }
    #recomended-courses .job-course-card .img-box {
      height: 14rem;
      background: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem; }
      #recomended-courses .job-course-card .img-box img {
        max-height: 85%; }
    #recomended-courses .job-course-card .content-box {
      padding-top: 2rem; }
    #recomended-courses .job-course-card .button-primary {
      width: 100%;
      border-radius: 0;
      padding: 1.1rem 0 0.8rem;
      text-align: center; }
      @media only screen and (max-width: 991px) {
        #recomended-courses .job-course-card .button-primary {
          padding: 0.6rem 0 0.2rem;
          line-height: 2; } }
      #recomended-courses .job-course-card .button-primary svg {
        float: right;
        margin-top: 0.3rem; }

.reviews {
  grid-column: full-start / full-end;
  background: #edededd1;
  padding: 10rem 0 12rem; }
  @media only screen and (max-width: 50em) {
    .reviews {
      padding: 9rem 0rem 9rem; } }
  .reviews__heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .reviews__heading {
        flex-direction: column;
        padding: 0 4rem; } }
    .reviews__heading .heading-secondary {
      font-family: 'Josefin Sans'; }
      @media only screen and (max-width: 37.5em) {
        .reviews__heading .heading-secondary {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 50em) {
        .reviews__heading .heading-secondary br {
          display: none; } }
    .reviews__heading button {
      white-space: nowrap; }
      @media only screen and (max-width: 50em) {
        .reviews__heading button {
          margin-top: 4rem;
          width: 100%; } }
  .reviews__slider {
    margin-top: 5rem; }
    .reviews__slider__wrapper .owl-item {
      padding: 0 1.5rem; }
    .reviews__slider .review__card {
      border-radius: 4px; }
      .reviews__slider .review__card__feedback {
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.7;
        padding: 2.5rem;
        background: white;
        border-radius: 5px;
        border: 1px solid #f1f0f0;
        box-shadow: 0 3px 2rem -2px rgba(20, 45, 100, 0.1); }
        .reviews__slider .review__card__feedback::before {
          content: '';
          position: absolute;
          bottom: -3rem;
          left: 2rem;
          height: 4rem;
          background: white;
          width: 4rem;
          clip-path: polygon(100% 0, 0 0, 0 100%); }
        .reviews__slider .review__card__feedback p {
          font-family: 'Josefin Sans'; }
      .reviews__slider .review__card__person {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 4.5rem; }
        .reviews__slider .review__card__person img {
          width: 7rem;
          display: block;
          height: 8rem; }
        .reviews__slider .review__card__person .rating {
          margin-left: auto;
          padding-top: .5rem; }
          .reviews__slider .review__card__person .rating i {
            font-size: 1.45rem;
            color: #F44336; }
        .reviews__slider .review__card__person .occupation {
          font-size: 1.5rem; }

.contactUs {
  grid-column: full-start / full-end;
  padding: 10rem 7rem 10rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 50em) {
    .contactUs {
      padding: 1.5rem; } }
  .contactUs .contact__page {
    display: flex;
    padding: 1rem;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }
    @media only screen and (max-width: 50em) {
      .contactUs .contact__page {
        flex-direction: column; } }
    .contactUs .contact__page__left {
      background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
      width: 40%;
      padding: 5rem 4rem;
      border-radius: 10px;
      color: white;
      position: relative;
      overflow: hidden;
      z-index: 0; }
      @media only screen and (max-width: 50em) {
        .contactUs .contact__page__left {
          width: 100%; } }
      .contactUs .contact__page__left h2 {
        font-style: normal;
        font-size: 4.5rem;
        font-family: 'Nunito', 'Josefin Sans'; }
      .contactUs .contact__page__left p {
        font-size: 1.9rem;
        line-height: 1.8;
        color: #ffffffa6;
        margin: 1.5rem 0 4rem;
        font-family: "Josefin sans"; }
      .contactUs .contact__page__left .address_list {
        font-size: 1.75rem;
        list-style: none;
        padding-left: 0; }
        .contactUs .contact__page__left .address_list li {
          display: flex;
          align-items: flex-start;
          margin-top: 2rem;
          gap: 0.5rem;
          font-family: 'Josefin Sans'; }
        .contactUs .contact__page__left .address_list i {
          font-size: 2rem;
          margin-right: 0.6rem;
          color: #ff9900;
          margin-top: 2px; }
      .contactUs .contact__page__left .icon_links {
        font-size: 2.5rem;
        display: flex;
        gap: 3rem;
        list-style: none;
        margin-top: 12rem;
        cursor: pointer; }
      .contactUs .contact__page__left::before, .contactUs .contact__page__left::after {
        content: '';
        position: absolute;
        bottom: -33%;
        right: -38%;
        height: 42rem;
        width: 42rem;
        background: #ff8d9d;
        border-radius: 50%;
        box-shadow: inset 0px 0px 42px 0px rgba(0, 0, 0, 0.4);
        z-index: -1;
        animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
        animation-delay: 1s; }
      .contactUs .contact__page__left::after {
        background: #58ebfa;
        height: 13rem;
        width: 13rem;
        bottom: 15%;
        left: 56%;
        animation: up-down 1.5s ease-in-out infinite alternate-reverse both; }
    .contactUs .contact__page__right {
      padding: 3rem;
      width: 60%; }
      @media only screen and (max-width: 50em) {
        .contactUs .contact__page__right {
          width: 100%;
          padding: 3rem 1rem; } }
      .contactUs .contact__page__right .input__fields {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem; }
        .contactUs .contact__page__right .input__fields .input__group {
          width: 50%;
          padding: 1rem; }
          @media only screen and (max-width: 50em) {
            .contactUs .contact__page__right .input__fields .input__group {
              padding: 1rem 1rem 0 0; } }
          .contactUs .contact__page__right .input__fields .input__group input {
            width: 100%; }
      .contactUs .contact__page__right .extra__fields h4 {
        margin: 3.5rem 0 1.5rem;
        font-family: 'Nunito';
        font-weight: 600; }
      .contactUs .contact__page__right .text__area {
        margin: 3rem 0 3.5rem; }
      .contactUs .contact__page__right .input__group input[type="text"],
      .contactUs .contact__page__right .input__group input[type="email"],
      .contactUs .contact__page__right #message {
        width: 100%;
        padding: 1.8rem 1rem 1.2rem;
        border: none;
        border-bottom: 4px solid #e3e3e3;
        background: #f0f0f0;
        outline: none;
        font-family: 'Nunito';
        font-family: "Josefin Sans";
        font-size: 1.6rem; }
        @media only screen and (max-width: 50em) {
          .contactUs .contact__page__right .input__group input[type="text"],
          .contactUs .contact__page__right .input__group input[type="email"],
          .contactUs .contact__page__right #message {
            border-bottom: 2px solid #e3e3e3; } }
      .contactUs .contact__page__right button {
        display: block;
        margin-left: auto; }

#blogs .blog-card {
  padding: 2.2rem;
  background: #e0feff;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(178, 178, 178, 0.24) 0px 1px 2px 1px;
  text-align: justify; }
  #blogs .blog-card:not(:last-child) {
    margin-bottom: 3.5rem; }
  #blogs .blog-card .inner-wrapper {
    display: flex; }
    #blogs .blog-card .inner-wrapper .img-box img {
      min-width: 18rem;
      border-radius: 4px; }
      @media only screen and (max-width: 576px) {
        #blogs .blog-card .inner-wrapper .img-box img {
          min-width: auto;
          max-width: 14rem;
          margin-right: 1.5rem; } }
    #blogs .blog-card .inner-wrapper .content-box {
      padding-left: 2.2rem;
      text-align: justify;
      padding-top: 1.1rem; }
      @media only screen and (max-width: 576px) {
        #blogs .blog-card .inner-wrapper .content-box {
          padding-left: 0; } }
      #blogs .blog-card .inner-wrapper .content-box .heading-tertiary {
        font-size: 2.5rem;
        font-family: 'Josefin Sans';
        color: #009ebc; }
      #blogs .blog-card .inner-wrapper .content-box .sub-heading-1 {
        margin: 0.5rem 0 1.5rem;
        font-weight: 700;
        font-family: 'Josefin Sans'; }
  #blogs .blog-card p {
    line-height: 1.4;
    font-size: 1.5rem;
    font-family: 'Josefin Sans'; }
    #blogs .blog-card p span {
      color: var(--color-1);
      font-weight: bold; }
  #blogs .blog-card .btn-box a {
    text-decoration: none;
    color: var(--color-7);
    font-weight: bold; }
  #blogs .blog-card .btn-box button {
    font-size: 1.6rem;
    padding: 0.6rem 1.5rem 0.7rem 0.9rem;
    line-height: 3.2rem;
    color: white;
    background: #a667ea; }

#softwareDevelopment {
  font-size: 1.6rem;
  padding: 14rem 0 6rem; }
  #softwareDevelopment .container > .row {
    background: aliceblue;
    padding: 1.5em;
    min-height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; }
  #softwareDevelopment .nav-pills {
    gap: 1em; }
    #softwareDevelopment .nav-pills .nav-link {
      width: 100%;
      padding: 0.6em 0 0.5em;
      text-align: left;
      font-size: 1.1em;
      background-color: #06899e;
      background-color: white;
      font-family: 'Josefin Sans', 'Nunito', sans-serif;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
      display: flex;
      align-items: center;
      line-height: 33px; }
      #softwareDevelopment .nav-pills .nav-link.active {
        background: #06899e !important; }
      #softwareDevelopment .nav-pills .nav-link img {
        max-height: 1.7em;
        vertical-align: sub;
        margin: 0 1em 0 1em; }
      #softwareDevelopment .nav-pills .nav-link.active img {
        background: white;
        border-radius: 0.4em; }
  #softwareDevelopment .col-md-9 {
    padding: 0 0 0 1.5em; }
    @media only screen and (max-width: 576px) {
      #softwareDevelopment .col-md-9 {
        padding: 0;
        margin-top: 2em; } }
    #softwareDevelopment .col-md-9 > .tab-content {
      height: 100%;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px; }
      #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content {
        padding: 1em 1.5em;
        background: white;
        height: 100%;
        overflow: auto; }
        #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content .heading-tertiary {
          margin: 1em 0 0.5em; }
        @media only screen and (max-width: 576px) {
          #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content .details-list {
            padding-left: 0; } }
        #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content .features-list {
          font-family: "Josefin Sans"; }
        #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content table {
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          --bs-table-striped-bg: #32cee745;
          font-family: 'Josefin Sans';
          min-width: 70rem; }
          #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content table th, #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content table td {
            padding: 12px 12px 12px 2em !important;
            white-space: nowrap; }
          #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content table td:first-child {
            font-weight: 600;
            padding-left: 12px !important; }
          #softwareDevelopment .col-md-9 > .tab-content .tab-pane .tab-content table td:last-child {
            white-space: normal; }
      #softwareDevelopment .col-md-9 > .tab-content .nav-tabs {
        border: none;
        gap: 1em;
        background: aliceblue;
        padding-bottom: 1em; }
        #softwareDevelopment .col-md-9 > .tab-content .nav-tabs .nav-link {
          padding: 0.8em 0 0.8em 0;
          width: 16rem;
          border: none;
          font-family: 'Josefin Sans', 'Nunito', sans-serif;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
          background-color: white; }
          #softwareDevelopment .col-md-9 > .tab-content .nav-tabs .nav-link.active {
            background: #06899e !important;
            color: white; }

.logo {
  max-height: 7rem; }

.link-1 {
  color: #707070;
  font-weight: 600;
  font-size: 1.4rem; }

.nav-link i {
  font-size: 3rem;
  padding: 1.5rem 1.65rem;
  background: white;
  border-radius: 50%;
  color: #1fb0c3;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; }

.button-primary {
  position: relative;
  outline: none;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.9rem 1.2rem 0.9rem 3rem;
  transition: 0.15s;
  border-radius: 50px;
  border: none;
  white-space: nowrap; }
  .button-primary:active {
    transform: translateY(0) !important;
    box-shadow: 0 0.5rem 10rem rgba(0, 0, 0, 0.2) !important; }
  .button-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .button-primary:hover::after {
      opacity: 0;
      transform: scaleX(2) scaleY(1.5); }
  .button-primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: -1;
    border-radius: 50px;
    opacity: 0.7;
    transition: 0.3s linear;
    pointer-events: none; }

.btn-1 {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding: 1.2rem 4rem 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  /* background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%); */
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0.2rem solid #cfcfcf;
  background: #245663;
  color: white; }
  .btn-1:hover {
    color: white;
    border: .2rem solid transparent; }
    .btn-1:hover::before {
      width: 100%; }
  .btn-1::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: linear-gradient(42deg, #ff2a2a, #ec4bff);
    transition: 0.5s ease-in-out; }

.strokeAndFill {
  animation: strokeAndFill 4s linear 1.8s 1 normal forwards;
  stroke-dasharray: 450;
  stroke-dashoffset: 450; }

.strokeNotFill {
  animation: strokeNotFill 4s linear 1.8s 1 normal forwards;
  stroke-dasharray: 450;
  stroke-dashoffset: 450; }

.registerSubmit {
  width: 100%;
  font-size: 1.9rem;
  padding: 1.1rem 1.2rem 0.9rem 3rem;
  margin-top: 0.6rem;
  background: #ff7ca5;
  color: white;
  box-shadow: inset 0px 0px 11px 7px #e54778, -1px 2px 8px #ff7ca5; }
  @media only screen and (max-width: 50em) {
    .registerSubmit {
      line-height: 2; } }
  .registerSubmit svg {
    float: right;
    transform: scale(1.1); }

.section-padding {
  padding: 12rem 0; }

.not-found {
  background: #fafbff;
  display: grid;
  padding-bottom: 4rem;
  place-items: center;
  text-align: center;
  padding-top: 12rem; }
  .not-found img {
    max-width: 73rem;
    width: 100%; }
  .not-found h3 {
    color: #0363cd;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.025em;
    line-height: 24px;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-family: 'Josefin Sans'; }

.modal-close-btn {
  font-size: 3.5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: #0f8086;
  padding: 3px 2px 2px 2px;
  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
  color: gray;
  cursor: pointer; }

.tab-pane.active.show {
  -webkit-animation: slideIn .2s ease-out;
  animation: slideIn .2s ease-out; }

.heading-primary {
  font-size: clamp(40px, 7vw, 85px);
  color: var(--text-color-4);
  font-weight: 800;
  font-family: 'Nunito', sans-serif; }

.heading-secondary {
  color: var(--text-color-4);
  font-weight: 800;
  font-size: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 4.5rem; } }

.text-1 {
  color: var(--text-color-2);
  line-height: 1.8;
  font-weight: 500; }

.heading-tertiary {
  font-size: 1.9rem;
  font-weight: 800;
  color: var(--text-color-4); }

.sub-heading-1 {
  color: var(--text-color-3); }

.sidePanel {
  height: 100%; }
  .sidePanel .top-section {
    height: 30%;
    background: linear-gradient(142deg, #c6ffce 0%, #afcdfe 100%);
    background-size: 111%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sidePanel .bottom-section {
    padding: 3rem 1rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-top: -4.2rem;
    background: #fbfbfbfa; }
    .sidePanel .bottom-section ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      padding: 0; }
      .sidePanel .bottom-section ul li {
        padding: 1.5rem 2.5rem;
        width: 80%;
        background: white;
        font-size: 1.9rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
        position: relative;
        text-transform: capitalize; }
        .sidePanel .bottom-section ul li:not(last-child) {
          margin-bottom: 2rem; }
        .sidePanel .bottom-section ul li .bullet-point {
          margin-right: 1rem;
          padding: 0.8rem;
          background: #ff42b4d9;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
          color: white; }
        .sidePanel .bottom-section ul li .chevron {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          padding: 0.2rem;
          border-radius: 50%;
          background: #f7f7f7;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
          font-size: 20px;
          color: gray; }

.login-modal.offcanvas.offcanvas-end {
  width: 100vw;
  background-color: #e9ecff !important;
  border: none; }

.login-modal .container {
  height: 100%;
  display: grid;
  place-items: center; }

.login-modal__page {
  display: flex;
  padding: 1rem;
  background: #f5f7fb;
  background: #f2f1fb;
  border-radius: 10px;
  max-width: 110rem;
  width: 100%;
  border: 4px solid white;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.07) 0px 0px 16px; }
  @media only screen and (max-width: 994px) {
    .login-modal__page {
      flex-direction: column; }
      .login-modal__page > div {
        width: 100%; } }
  .login-modal__page i {
    background: white;
    z-index: 2; }
  .login-modal__page__left {
    width: 54%;
    padding: 5rem 4rem;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 0;
    min-height: 63rem;
    background-image: url(../../../public/assets/img/girl-with-laptop-transparent.png);
    background-position: center;
    background-size: 25vw auto;
    background-repeat: no-repeat;
    background-color: #d294e2;
    background-color: #d599ff; }
    @media only screen and (max-width: 994px) {
      .login-modal__page__left {
        height: 25rem;
        min-height: auto;
        background-size: 65%; } }
  .login-modal__page__right {
    padding: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .login-modal__page__right .heading-secondary {
      font-size: 3rem;
      margin: 5rem 0 1rem 0; }
      @media only screen and (max-width: 994px) {
        .login-modal__page__right .heading-secondary {
          margin: 2rem 0 1rem 0; } }
      .login-modal__page__right .heading-secondary + p {
        margin-bottom: 4rem;
        font-weight: 600;
        color: gray; }
    .login-modal__page__right p {
      font-size: 1.45rem; }
    .login-modal__page__right .form-wrapper {
      width: 100%;
      max-width: 32rem; }
    .login-modal__page__right form {
      width: 100%; }
      .login-modal__page__right form input {
        padding: 1.5rem 1.8rem;
        border: none;
        outline: none;
        margin-bottom: 2rem;
        border-radius: 1.3rem;
        width: 100%;
        font-size: 1.5rem;
        box-shadow: 8rem 7rem 35rem 0px #d599ffab; }
      .login-modal__page__right form p {
        text-align: right;
        margin: 0.5rem 0 2.5rem 0; }
    .login-modal__page__right .btn-1 {
      width: 100%;
      border: none;
      border-radius: 13px;
      padding: 1.4rem;
      background: #f56965; }
    .login-modal__page__right .login-bottom {
      margin-top: 4.5rem;
      padding-top: 4rem;
      border-top: 1px solid white;
      position: relative; }
      .login-modal__page__right .login-bottom p {
        position: absolute;
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
        background: #f1eefb;
        padding: 0 1rem;
        border-radius: 7px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50.5%; } }

a {
  text-decoration: none; }
